<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="PubNubPublishKey" value="pub-888ff646-d718-4dd7-8735-ff668649e6a8"/>
    <add key="PubNubSubscribeKey" value="sub-33a18b26-fcd3-11e1-b03e-fdc761f25784"/>
    <add key="PubNubSecretKey" value="sec-NmZhY2U1ODEtODk0Zi00NjY3LTk4ODMtNmY3MWI1MjhmY2Y2"/>
  </appSettings>
</configuration>

